{% load i18n %}

{% if page_obj %}

<nav class="my-12 border-t border-gray-200 px-4 flex items-center justify-between sm:px-0">
   <div class="-mt-px w-0 flex-1 flex">
      <a{% if page_obj.has_previous %} id="previous-page" href="#"{% endif %} class="border-t-2 border-transparent pt-4 pr-1 inline-flex items-center text-sm font-medium text-gray-500{% if page_obj.has_previous %} hover:text-gray-700 hover:border-gray-300{% endif %}">
         <!-- Heroicon name: solid/arrow-narrow-left -->
         <svg class="mr-3 h-5 w-5 text-gray-400" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 20 20" fill="currentColor" aria-hidden="true">
            <path fill-rule="evenodd" d="M7.707 14.707a1 1 0 01-1.414 0l-4-4a1 1 0 010-1.414l4-4a1 1 0 011.414 1.414L5.414 9H17a1 1 0 110 2H5.414l2.293 2.293a1 1 0 010 1.414z" clip-rule="evenodd" />
         </svg>
         {% trans 'Previous' %}
      </a>
   </div>
   <div class="hidden md:-mt-px md:flex">

      <span class="border-transparent text-gray-500 border-t-2 pt-4 px-4 inline-flex items-center text-sm font-medium">
      {% trans 'Page:' %} {{ page_obj.number }} of {{ page_obj.paginator.num_pages }}
      </span>

   </div>
   <div class="-mt-px w-0 flex-1 flex justify-end">
      <a{% if page_obj.has_next %} id="next-page" href="#"{% endif %} class="border-t-2 border-transparent pt-4 pl-1 inline-flex items-center text-sm font-medium text-gray-500{% if page_obj.has_next %} hover:text-gray-700 hover:border-gray-300{% endif %}">
         {% trans 'Next' %}
         <!-- Heroicon name: solid/arrow-narrow-right -->
         <svg class="ml-3 h-5 w-5 text-gray-400" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 20 20" fill="currentColor" aria-hidden="true">
            <path fill-rule="evenodd" d="M12.293 5.293a1 1 0 011.414 0l4 4a1 1 0 010 1.414l-4 4a1 1 0 01-1.414-1.414L14.586 11H3a1 1 0 110-2h11.586l-2.293-2.293a1 1 0 010-1.414z" clip-rule="evenodd" />
         </svg>
      </a>
   </div>
</nav>

{% if page_obj.has_previous or page_obj.has_next %}
<script type="text/javascript">
        var urlParams = new URLSearchParams(window.location.search);
        var pageQueryName = "{{ page_kwarg | default:'page' }}";
        {% if page_obj.has_previous %}
        urlParams.delete(pageQueryName);
        urlParams.append(pageQueryName, '{{ page_obj.previous_page_number }}');
        document.getElementById('previous-page').href = '?' + urlParams.toString();
        {% endif %}
        {% if page_obj.has_next %}
        urlParams.delete(pageQueryName);
        urlParams.append(pageQueryName, '{{ page_obj.next_page_number }}');
        document.getElementById('next-page').href = '?' + urlParams.toString();
        {% endif %}
</script>
{% endif %}

{% endif %}
