{% extends "_base.html" %}

{% load i18n static %}

{% block pagetitle %}{% trans 'Dashboard' %}{% endblock %}

{% block content %}

<div class="pt-16 pb-20 px-4 sm:px-6 lg:pt-20 lg:pb-28 lg:px-8">
    <div class="relative max-w-5xl mx-auto">
        <div>
            <h1 class="text-3xl font-bold text-gray-900">Stats</h1>
            <dl class="mt-5 grid grid-cols-1 gap-5 sm:grid-cols-2">
                <div class="overflow-hidden rounded-lg bg-white px-4 py-5 shadow sm:p-6">
                    <dt class="truncate text-sm font-medium text-gray-500">Total Users</dt>
                    <dd class="mt-1 text-3xl font-semibold tracking-tight text-gray-900">{{ total_users }}</dd>
                </div>

                <div class="overflow-hidden rounded-lg bg-white px-4 py-5 shadow sm:p-6">
                    <dt class="truncate text-sm font-medium text-gray-500">Total Posts</dt>
                    <dd class="mt-1 text-3xl font-semibold tracking-tight text-gray-900">{{ total_posts }}</dd>
                </div>
            </dl>
        </div>

        <div class="sm:flex sm:items-center mt-10">
            <div class="sm:flex-auto">
                <h1 class="text-lg font-bold text-gray-900">Top 5 most viewed posts</h1>
            </div>
        </div>
        <div class="bg-white -mx-4 mt-4 ring-1 ring-gray-300 sm:-mx-6 md:mx-0 md:rounded-lg">
            <table class="min-w-full divide-y divide-gray-300">
                <thead>
                    <tr>
                        <th scope="col" class="py-3.5 pl-4 pr-3 text-left text-sm font-semibold text-gray-900 sm:pl-6">Title</th>
                        <th scope="col" class="hidden px-3 py-3.5 text-left text-sm font-semibold text-gray-900 lg:table-cell">Posted</th>
                        <th scope="col" class="relative py-3.5 pl-3 pr-4 text-right text-sm font-semibold text-gray-900 sm:pr-6">Count</th>
                    </tr>
                </thead>
                <tbody>
                    {% for post in top_viewed_posts %}
                    <tr>
                        <td class="whitespace-nowrap py-4 pl-4 pr-3 text-sm sm:pl-6">
                            <div class="flex items-center">
                                <div class="h-10 w-10 flex-shrink-0">
                                    <img class="h-10 w-10 rounded-md bg-gray-200" src="{{ post.0.image_src }}" alt="">
                                </div>
                                <div class="ml-4">
                                    <div class="font-medium text-gray-900">{{ post.0.title }}</div>
                                </div>
                            </div>
                        </td>
                        <td class="hidden px-3 py-3.5 text-sm text-gray-500 lg:table-cell">{{ post.0.date_created }}</td>
                        <td class="relative py-3.5 pl-3 pr-4 sm:pr-6 text-right text-sm font-medium">
                            {{ post.1 }}
                        </td>
                    </tr>
                    {% empty %}
                    <tr>
                        <td colspan="3" class="hidden px-3 py-3.5 text-center text-sm text-gray-500 lg:table-cell">No information yet.</td>
                    </tr>
                    {% endfor %}
                </tbody>
            </table>
        </div>

        <div class="sm:flex sm:items-center mt-10">
            <div class="sm:flex-auto">
                <h1 class="text-lg font-bold text-gray-900">Top 5 most liked posts</h1>
            </div>
        </div>
        <div class="bg-white -mx-4 mt-4 ring-1 ring-gray-300 sm:-mx-6 md:mx-0 md:rounded-lg">
            <table class="min-w-full divide-y divide-gray-300">
                <thead>
                    <tr>
                        <th scope="col" class="py-3.5 pl-4 pr-3 text-left text-sm font-semibold text-gray-900 sm:pl-6">Title</th>
                        <th scope="col" class="hidden px-3 py-3.5 text-left text-sm font-semibold text-gray-900 lg:table-cell">Posted</th>
                        <th scope="col" class="relative py-3.5 pl-3 pr-4 text-right text-sm font-semibold text-gray-900 sm:pr-6">Count</th>
                    </tr>
                </thead>
                <tbody>
                    {% for post in top_liked_posts %}
                    <tr>
                        <td class="whitespace-nowrap py-4 pl-4 pr-3 text-sm sm:pl-6">
                            <div class="flex items-center">
                                <div class="h-10 w-10 flex-shrink-0">
                                    <img class="h-10 w-10 rounded-md bg-gray-200" src="{{ post.0.image_src }}" alt="">
                                </div>
                                <div class="ml-4">
                                    <div class="font-medium text-gray-900">{{ post.0.title }}</div>
                                </div>
                            </div>
                        </td>
                        <td class="hidden px-3 py-3.5 text-sm text-gray-500 lg:table-cell">{{ post.0.date_created }}</td>
                        <td class="relative py-3.5 pl-3 pr-4 sm:pr-6 text-right text-sm font-medium">
                            {{ post.1 }}
                        </td>
                    </tr>
                    {% empty %}
                    <tr>
                        <td colspan="3" class="hidden px-3 py-3.5 text-center text-sm text-gray-500 lg:table-cell">No information yet.</td>
                    </tr>
                    {% endfor %}
                </tbody>
            </table>
        </div>

    </div>
</div>

{% endblock %}
